# ── IDEs / Editors ──
.idea/
.vscode/
*.swp
*.swo
*~
.venv/

# ── OS files ──
.DS_Store
Thumbs.db

# ── Python bytecode / cache ──
__pycache__/
*.py[cod]
*.egg-info/

# ── Build / dist artifacts ──
build/
dist/
*.egg

# ── ros build files ──
build/
install/
log/

#model files
test*/
*.onnx
*.blob

# ── SSHFS mounts ──
*sshfs*/

